@font-face {
	font-family: 'Futura_20Medium_20BT.ttf';
	src: url();
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Futura_20Medium_20BT.ttf';
	background-color: black;
	color: antiquewhite;
}
